# data file + img  <- due to Copyright

*./data/*.csv
*./data/*.xlsx
**/data/*.csv
**/data/*.xlsx
***/data/*.csv
***/data/*.xlsx
****/data/*.csv
****/data/*.xlsx
*./make_file/*.csv
*./make_file/*.xlsx
**/make_file/*.csv
**/make_file/*.xlsx
***/make_file/*.csv
***/make_file/*.xlsx
****/make_file/*.csv
****/make_file/*.xlsx
*****/make_file/*.csv
*****/make_file/*.xlsx


# data file + img  <- due to Copyright
Python/*./data/*.csv
Python/*./data/*.xlsx
Python/**/data/*.csv
Python/**/data/*.xlsx
Python/***/data/*.csv
Python/***/data/*.xlsx
Python/****/data/*.csv
Python/****/data/*.xlsx
Python/*./make_file/*.csv
Python/*./make_file/*.xlsx
Python/**/make_file/*.csv
Python/**/make_file/*.xlsx
Python/***/make_file/*.csv
Python/***/make_file/*.xlsx
Python/****/make_file/*.csv
Python/****/make_file/*.xlsx
Python/*****/make_file/*.csv
Python/*****/make_file/*.xlsx



# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*  

# Mac OS
.DS_Store

# Copyright
*/__pycache__/*

# anaconda
*/.anaconda/*
*/.conda/*
*/.condarc
*/anaconda_projects
**/anaconda_projects 
***/anaconda_projects 

# # API KEY
***/API_KEY/.xlsx
**/API_KEY/.xlsx
*/API_KEY/*.xlsx  


JSP/Servers/*
JSP/Servers1/*
/JSP/.metadata
/JSP/.metadata/

.metadata/.plugins/*/.history/*
*/.metadata/.plugins/*/.history/*
*/.metadata
/JSP/.metadata/*
/JSP/.metadata 
JSP/SpringMVC/.env 
JSP/SpringMVC/target/classes/.env
JSP/SpringMVC/src/main/resources/application.properties
JSP/SpringMVC/target/classes/application.properties
/JSP/.metadata
JSP/SpringMVC/target/m2e-wtp/web-resources/META-INF/maven/com.smhrd/web/pom.properties
/.metadata/
/Servers
/SpringMVC/target
*/application.properties
**/application.properties
***/application.properties
****/application.properties
/SpringMVC/Servers
