# data file + img  <- due to Copyright
# *.csv
*.jpg
*.jpeg
*.png  
*.svg 
*.dot
*.pkl
*.pdf 
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.geojson  
*.xml
*.zip 
*./data/*.csv
*./data/*.xlsx
**/data/*.csv
**/data/*.xlsx



# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*  

# Mac OS
.DS_Store

# Copyright
*/__pycache__/*

# anaconda
*/.anaconda/*
*/.conda/*
*/.condarc
*/anaconda_projects
**/anaconda_projects 

# # API KEY
**/API_KEY/.xlsx
*/API_KEY/*.xlsx
/Data_Analysis/광진구 경사도 분석/cache
/Data_Analysis/광진구 경사도 분석/data/t_data
/Data_Analysis/광진구 경사도 분석/data/공공데이터_서울시_도보_네트워크
/Data_Analysis/광진구 경사도 분석/data
