@charset "UTF-8";

#placeList {
    margin-top: 10px;
    padding: 5px;
    border: none;
    max-height: 150px;
    overflow-y: auto;
}

#placeList li {
    cursor: pointer;
    padding: 5px;
}

#placeList li:hover {
    background-color: #f0f0f0;
}

#detailedAddress {
    margin-top: 10px;
    font-style: italic;
    color: #888;
}